LOCAL_DOMAIN=rp.i
PI_STATIC_IP=192.168.0.4/24
PI_GATEWAY=192.168.0.1
PI_DNS_1=127.0.0.1
PI_DNS_2=1.1.1.1
LAN_CIDR=192.168.0.0/24
SB_WEBUI_DIR=/opt/sb-webui
SB_WEBUI_USER=rpi
SINGBOX_DEFAULT_INTERFACE=eth0
WIFI_SSID=
WIFI_PASSWORD=
